[package]
name = "stm32f446-hello"
version = "0.1.0"
edition = "2021"

[dependencies]
cortex-m = "0.7"
cortex-m-rt = "0.7"
panic-halt = "0.2" # パニック時は停止する
embedded-hal = "0.2"
nb = "1.1"
stm32f4xx-hal = { version = "0.17", features = ["stm32f446", "rt"] }

